<template lang="html">
    <v-container fluid class="px-0 mx-0">
        <v-text-field
            label="Search On Youtube"
            placeholder="Keywords"
            outlined
            append-icon='mdi-magnify'
            v-model="search_input"
            clearable
            @click:append="search_song()"
            @keydown.enter="search_song()">
        </v-text-field>
        <v-container fluid id='search_box' class="px-0 mx-0">
            <video_card v-for="(item, i) in search_result" :video_obj="item" :role="role" card_type="add" :key="i"/>
        </v-container>
    </v-container>
</template>

<script>
import video_card from "./video_card.vue"
import axios from 'axios';

export default {
    name: 'search_box',
    props: {
        role: {
            type: String,
            default: 'room',
            validator: function(value){
                return ['room', 'remote'].indexOf(value) !== -1 ;
            }
        }
    },
    components: {
        video_card,
    },
    data: () => ({
        search_result: [],
        search_input: '',
    }),
    methods: {
        search_song: async function(){
            if (this.search_input.length==0) return;
            try {
                const res = await axios.get(`/youtube/search/${this.$store.state.room_id}/${this.search_input}`);
                this.search_result=res.data;
            } catch (e) {
                console.log(e);
            }
        },
    }
}
</script>

<style lang="css" scoped>
#search_box {
    max-height: 55vh;
    overflow-y: auto
}
</style>
