<template lang="html">
    <v-card :color="this.color" elevation="5" class="mb-4" >
        <v-row class='pa-0 ma-0'>
            <v-col cols="4" class='pa-0 ma-0'>
                <v-container class='pa-1 ma-0' fluid fill-height align="center" justify="center">
                    <v-img :src="this.video_obj.thumbnails"/>
                </v-container>
            </v-col>
            <v-col cols="8" class='pa-0 ma-0'>
                <v-card-text class="video_card_text">
                    <strong>{{ decode_escaped_txt( this.video_obj.title ) }}</strong>
                    <br>{{ decode_escaped_txt( this.video_obj.channel ) }}
                </v-card-text>
            </v-col>
        </v-row>
        <v-fab-transition>
            <v-btn bottom right absolute fab small
                v-if="card_type=='add'"
                @click="click_on_add()">
                <v-icon color='white'>mdi-plus</v-icon>
            </v-btn>
            <v-btn bottom right absolute fab small
                v-if="card_type=='show'"
                @click="click_on_jump()">
                <v-icon color='white'>mdi-arrow-collapse-up</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-card>
</template>

<script>
export default {
    name: 'video_card',
    props: {
        video_obj: Object,
        card_type: {
            type: String,
            default: 'show',
            validator: function(value){
                return ['show', 'add'].indexOf(value) !== -1 ;
            }
        },
        role: {
            type: String,
            default: 'room',
            validator: function(value){
                return ['room', 'remote'].indexOf(value) !== -1 ;
            }
        },
        color: {
            type: String,
            default: "grey darken-3",
        }
    },
    methods: {
        click_on_add: async function(){
            if(this.role=='room'){
                this.$store.commit("add_song_by_id", this.video_obj);
            }else if (this.role=='remote') {
                this.$socket.emit('remote_add_song_by_id', this.video_obj);
            }
        },
        click_on_jump: async function(){
            if(this.role=='room'){
                this.$store.commit("song_jump_in_line", this.video_obj.id);
            }else if (this.role=='remote') {
                this.$socket.emit('remote_song_jump_in_line', this.video_obj.id);
            }
        },
        decode_escaped_txt: function( escaped ){
            var txt = document.createElement('textarea');
            txt.innerHTML = escaped ;
            return txt.value;
        }
    }
}
</script>

<style lang="css" scoped>
</style>
