<template lang="html">
    <v-container>
        <v-dialog
            v-model="dialog"
            fullscreen
            width="unset">
            <v-card class="pa-0 ma-0">
                <div id='canvas_frame'>
                    <canvas id="msg_board"></canvas>
                </div>
                <v-card-actions id="card_actions">
                    <v-spacer/>
                    <v-btn text color="purple accent-4" @click="close_canvas()">close</v-btn>
                    <v-spacer/>
                    <v-chip-group
                        active-class="primary--text"
                        v-model="selected_color_idx"
                        column>
                        <v-chip
                            v-for="(tag, i) in pen_colors"
                            :key="i"
                            filter
                            :color="tag"
                            dark
                            small>
                        </v-chip>
                    </v-chip-group>
                    <v-spacer/>
                    <v-btn text color="purple accent-4" @click="send_drawing()">Send</v-btn>
                    <v-spacer/>
                </v-card-actions>
            </v-card>
        </v-dialog>
        </v-container>
</template>

<script>
import { fabric } from "fabric";

export default {
    name: 'msg_board',
    data: () => ({
        dialog: false,
        msg_canvas: null,
        pen_colors: ['#18FFFF', '#76FF03', '#FFFF00', '#D500F9', '#FF1744'],
        selected_color_idx: 0,
    }),
    watch: {
        selected_color_idx: function(val){
            if(this.msg_canvas){
                this.msg_canvas.freeDrawingBrush.color=this.pen_colors[ val ];
            }
        },
        dialog: function(val){
            if (!val && this.msg_canvas) {
                this.msg_canvas.clear();
            }
        }
    },
    updated: function(){
        if(!this.msg_canvas) this.msg_canvas = this.config_canvas('msg_board');
        //this.msg_canvas.clear();
    },
    methods: {
        config_canvas: function(id){
            var canvas = new fabric.Canvas(id, {
                selection: false,
                selectionLineWidth: 2,
                isDrawingMode: true,
                width: window.innerWidth*0.85,
                height:window.innerHeight*0.85,
            });
            canvas.freeDrawingBrush.width=5;
            canvas.freeDrawingBrush.color=this.pen_colors[ this.selected_color_idx ];
            return canvas
        },
        close_canvas: function(){
            if(this.msg_canvas) this.msg_canvas.clear();
            this.dialog=false;
        },
        send_drawing: function(){
            if(this.msg_canvas){
                this.$socket.emit("remote_send_drawing", this.msg_canvas.getObjects());
            }
            this.close_canvas();
        },
        set_visible: function(){
            this.dialog=true;
        },
    }
    
}
</script>

<style lang="css" scoped>
#msg_board {
    border: 2px solid black;
}
#canvas_frame{
    position: fixed;
    top: 50%;
    left: 50%;
    /* border: 2px solid white; */
    transform: translate(-50%, -50%);
}
#card_actions{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
</style>
