<template lang="html">
    <v-container max-height="80%" fluid class="pa-0 ma-0">
        <v-row justify="center" align="center">
            <v-spacer/>
            <v-col class="px-0 mx-0">
                <v-btn fab @click="switch_play_pause()">
                    <v-icon large>mdi-play-pause</v-icon>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-spacer/>
            <v-col class="px-0 mx-0">
                <v-btn fab @click="play_next()">
                    <v-icon large>mdi-skip-next-outline</v-icon>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-spacer/>
            <v-col class="px-0 mx-0">
                <v-btn fab
                    @click="playlist_shuffle()">
                    <v-icon large>mdi-shuffle-variant</v-icon>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-spacer/>
            <v-col class="px-0 mx-0">
                <v-btn fab
                    :color="(rtc_connected)?'green':''"
                    @click="switch_mic()">
                    <v-badge bottom content="BETA" color="red">
                        <v-icon large>mdi-microphone-outline</v-icon>
                    </v-badge>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-spacer/>
            <v-col class="px-0 mx-0">
                <v-btn fab @click="show_msg_board()">
                    <v-icon large>mdi-message-draw</v-icon>
                </v-btn>
            </v-col>
            <v-spacer/>
        </v-row>
        <msg_board ref="msg_board_component"/>
        <v-text-field
            label="Youtube ID/ youtu.be link"
            placeholder="youtu.be/<id>"
            outlined
            clearable
            append-icon='mdi-music-note-plus'
            v-model="id_input"
            @click:append="add_song_by_id()"
            @keydown.enter="add_song_by_id()">
        </v-text-field>
        <v-container fluid id='playlist' class="px-0 mx-0">
            <video_card v-if="this.playlist.length > 0" card_type='show' role='remote' :video_obj="this.playlist[0]" color='green'/>
            <video_card v-for="(item) in this.jump_in_line" card_type='show' :video_obj="item" :key="item.id" role='remote' color='grey'/>
            <video_card v-for="(item) in this.playlist.slice(1)" card_type='show' :video_obj="item" :key="item.id" role='remote'/>
        </v-container>
    </v-container>
</template>

<script>
import video_card from './video_card.vue';
import msg_board  from './msg_board.vue'
import axios      from 'axios';

export default {
    name: 'player_control',
    data: () => ({
        id_input: '',
    }),
    components: {
        video_card,
        msg_board
    },
    computed: {
        playlist: function(){
            return this.$store.state.playlist;
        },
        jump_in_line: function(){
            return this.$store.state.jump_in_line;
        },
        rtc_connected: function(){
            return this.$store.state.room_rtc_connection_state=='connected';
        }
    },
    methods: {
        add_song_by_id: async function(){
            //extract youtube id
            if (this.id_input.length==0) return;
            var vid=this.id_input;
            if (vid.includes("youtu.be")){
                vid=vid.split('/');
                vid=vid[vid.length-1];
            }
            //get struct using api
            try {
                const res = await axios.get(`/youtube/video/${this.$store.state.room_id}/${vid}`);
                const video_struct = res.data;
                this.$socket.emit('remote_add_song_by_id', video_struct);
                this.id_input='';
            } catch (e) {
                console.log(e);
            }
        },
        play_next: function(){
            this.$socket.emit('remote_skip_current_song');
        },
        switch_play_pause: function(){
            this.$socket.emit('remote_switch_play_pause');
        },
        switch_mic: async function(){
            if(!this.$store.state.room_rtc_connection){
                try {
                    this.call_in();
                } catch (e) {
                    console.log(e);
                }
            }else {
                this.$store.commit('mic_off');
                this.$store.state.room_rtc_connection.close();
                this.$store.state.room_rtc_connection=null;
                this.$store.state.room_rtc_connection_state='';
            }
        },
        call_in: async function(){
            const self=this;
            
            const media_constraints = {
                video: false,
                audio: {
                    latency: 0.001,
                    echoCancellation: false,
                    noiseSuppression: false,
                    channelCount: 1,
                },
            }
            const stream = await navigator.mediaDevices.getUserMedia(media_constraints);
            const peer_connection = new RTCPeerConnection();
            stream.getTracks().forEach(track => peer_connection.addTrack(track,stream));
            const offer = await peer_connection.createOffer();
            await peer_connection.setLocalDescription(offer);
            peer_connection.onconnectionstatechange = (event) => {
                self.$store.state.room_rtc_connection_state=event.currentTarget.connectionState;
            }
            this.$store.state.room_rtc_connection = peer_connection;
            this.$store.state.local_stream = stream;
            this.$socket.emit('remote_call_in_with_offer', offer);
        },
        playlist_shuffle: function(){
            this.$socket.emit('remote_shuffle_playlist');
        },
        show_msg_board: function(){
            this.$refs.msg_board_component.set_visible();
        }
    },
    sockets: {
        room_reply_with_answer: function(payload){
            this.$store.state.room_rtc_connection.setRemoteDescription(new RTCSessionDescription(payload));
            this.$store.state.room_rtc_connection.onicecandidate = (event) => {
                if (event.candidate){
                    this.$socket.emit('remote_on_icscandidate', event.candidate);
                }
            }
        },
    }
}
</script>

<style lang="css" scoped>
#playlist {
    max-height: 40vh;
    overflow-y: auto
}
</style>
