<template lang="html">
    <v-container fluid>
        <v-text-field
            label="Join Room"
            placeholder="Room ID"
            outlined
            append-icon='mdi-login-variant'
            v-model="id_input"
            @click:append="connect_room_by_id()"
            @keydown.enter="connect_room_by_id()"/>
    </v-container>
</template>

<script>
export default {
    name: 'room_info',
    data: () => ({
        id_input:'',
    }),
    mounted: function(){
          
    },
    methods: {
        connect_room_by_id: function(){
            this.$socket.emit('remote_init', this.id_input);
        }
    }
}
</script>

<style lang="css" scoped>
</style>
