<template lang="html">
    <div id="canvas_frame">
        <canvas id="msg_board"/>
    </div>
</template>

<script>
import { fabric } from "fabric";

export default {
    name: 'msg_board',
    data: () => ({
        msg_canvas: null,
    }),
    mounted: function(){
        this.msg_canvas=this.config_canvas("msg_board");
    },
    methods: {
        config_canvas: function(id){
            const self = this;
            var canvas = new fabric.Canvas(id, {
                selection: false,
                selectionLineWidth: 2,
                isDrawingMode: false,
                width: window.innerWidth * 0.95 ,
                height: window.innerHeight * 0.95 ,
            });
            canvas.on('object:added', function(options){
                if(options.target){
                    setTimeout(function(){ self.msg_canvas.remove(options.target) }, 5000);
                }
            });
            return canvas
        },
    },
    sockets: {
        remote_send_drawing: function(payload){
            const self = this;
            fabric.util.enlivenObjects(payload, function(objects){
                //calculate transformation
                let obj_top   =Math.min(...(objects.map( (item) => item.top )));
                let obj_left  =Math.min(...(objects.map( (item) => item.left )));
                let obj_bottom=Math.max(...(objects.map( (item) => item.top+item.height )));
                let obj_right =Math.max(...(objects.map( (item) => item.left+item.width )));
                let translate_top =Math.floor( Math.random() * (self.msg_canvas.height - (obj_bottom-obj_top)) ) - obj_top;
                let translate_left=Math.floor( Math.random() * (self.msg_canvas.width - (obj_right-obj_left)) ) - obj_left;
                //transform and add objects to canvas
                objects.forEach(function(obj) {
                    console.log(obj);
                    obj.top +=translate_top;
                    obj.left+=translate_left;
                    self.msg_canvas.add(obj);
                });
            });
        }
    }
}
</script>

<style lang="css" scoped>
#canvas_frame{
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* border: 2px solid white; */
    transform: translate(-50%, -50%);
}
</style>
