<template lang="html">
    <v-container max-height="80%" fluid class='pa-0 ma-0'>
        <v-row align="center" justify="center">
            <v-col>
                <v-btn fab @click="play_next()">
                    <v-icon large>mdi-skip-next-outline</v-icon>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-col>
                <v-btn fab
                    @click="playlist_shuffle()">
                    <v-icon large>mdi-shuffle-variant</v-icon>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-col>
                <v-btn fab
                    :color="rtc_button_color"
                    @click="click_on_mic()">
                    <v-badge
                        :content="rtc_track_count"
                        :value="rtc_track_count"
                        color="blue">
                        <v-badge bottom content="BETA" color="red">
                            <v-icon large>mdi-microphone-outline</v-icon>
                        </v-badge>
                    </v-badge>
                </v-btn>
            </v-col>
            <v-spacer/>
            <v-col>
                <v-btn fab
                    :color="msg_button_color"
                    @click="click_on_msg()">
                    <v-icon large>mdi-message-draw</v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-text-field
            label="Youtube ID/ youtu.be link"
            placeholder="youtu.be/<id>"
            outlined
            clearable
            append-icon='mdi-music-note-plus'
            v-model="id_input"
            @click:append="add_song_by_id()"
            @keydown.enter="add_song_by_id()">
        </v-text-field>
        <v-container fluid id='playlist' class="px-0 mx-0">
            <video_card v-if="this.playlist.length > 0" card_type='show' :video_obj="this.playlist[0]" color='green'/>
            <video_card v-for="(item) in this.jump_in_line" card_type='show' :video_obj="item" :key="item.id" color='grey'/>
            <video_card v-for="(item) in this.playlist.slice(1)" card_type='show' :video_obj="item" :key="item.id"/>
        </v-container>
    </v-container>
</template>

<script>
import video_card from './video_card.vue'
import axios from 'axios';

export default {
    name: 'player_control',
    data: () => ({
        id_input: '',
    }),
    components: {
        video_card,
    },
    computed: {
        playlist: function(){
            return this.$store.state.playlist;
        },
        jump_in_line: function(){
            return this.$store.state.jump_in_line;
        },
        rtc_track_count: function(){
            return this.$store.state.rtc_track_count;
        },
        rtc_button_color: function(){
            return (this.$store.state.rtc_enabled)?'green':'';
        },
        msg_button_color: function(){
            return (this.$store.state.msg_board_enabled)?'green':'';
        }
    },
    watch: {
        
    },
    methods: {
        add_song_by_id: async function(){
            //extract youtube id
            if (this.id_input.length==0) return;
            var vid=this.id_input;
            if (vid.includes("youtu.be")){
                vid=vid.split('/');
                vid=vid[vid.length-1];
            }
            //get struct using api
            try {
                const res = await axios.get(`/youtube/video/${this.$store.state.room_id}/${vid}`);
                const video_struct = res.data;
                this.$store.commit("add_song_by_id", video_struct);
                this.id_input='';
            } catch (e) {
                console.log(e);
            }
            
        },
        play_next: function(){
            this.$store.commit('skip_current_song');
        },
        playlist_shuffle: function(){
            this.$store.commit('shuffle_playlist');
        },
        click_on_mic: function(){
            this.$store.commit('switch_rtc');
        },
        click_on_msg: function(){
            this.$store.commit('switch_msg_board');
        }
    }
}
</script>

<style lang="css" scoped>
#playlist {
    max-height: 45vh;
    overflow-y: auto
}
</style>
