<template lang="html">
    <v-sheet class="pa-0 ma-0">
        <v-container fluid>
            <v-row justify="center" class="pa-0 ma-0">
                <vue-qrcode :value="room_link" :scale="qr_code_scale" :margin="1"/>
                <a :href="room_link" target="_blank">{{ room_link }}</a>
            </v-row>
            <v-row justify="right">
                <v-switch v-model="$i18n.locale" false-value="en-US" true-value="zh-HK" append-icon="mdi-translate" inset></v-switch>
            </v-row>
        </v-container>
        <div id='instruction'>
            <h3><b>{{ $t("instruction") }}</b></h3>
            <ul>
                <li>
                    <b>{{ $t("connect_with_mobile") }}</b><br>
                    - {{ $t("scan_qrcode") }}<v-icon medium>mdi-qrcode</v-icon><br>
                    - {{ $t("use_link") }}
                </li>
                <li>
                    <b>{{ $t("select_songs")}}</b><br>
                    - <b>{{ $t("player_control") }}<v-icon medium>mdi-playlist-play</v-icon></b>: {{ $t("player_control_select_songs") }}<br>
                    - <b>{{ $t("search_box") }}<v-icon medium>mdi-magnify</v-icon></b>{{ $t("search_and_add") }}
                </li>
                <li>
                    <b>{{ $t("control") }}</b><br>
                    <table>
                        <tr>
                            <td>- <v-icon medium>mdi-play-pause</v-icon>:{{ $t("play_pause") }}</td>
                            <td>- <v-icon medium>mdi-skip-next-outline</v-icon>:{{ $t("skip") }}</td>
                        </tr>
                        <tr>
                            <td>- <v-icon medium>mdi-shuffle-variant</v-icon>:{{ $t("shuffle") }}</td>
                            <td>- <v-icon medium>mdi-arrow-collapse-up</v-icon>:{{ $t("cut_in_line") }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">- <v-icon medium>mdi-microphone-outline</v-icon>:{{ $t("enable_mic") }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">- <v-icon medium>mdi-message-draw</v-icon>:{{ $t("enable_drawing_board") }}<br></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
    </v-sheet>
</template>

<script>
import VueQrcode from 'vue-qrcode'
export default {
    name: 'room_info',
    components: {
        VueQrcode,
    },
    data: () => ({
    }),
    computed: {
        room_link: function(){
            return window.location.origin + "/room/" + this.$store.state.room_id;
        },
        qr_code_scale: function(){
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 3
                case 'sm': return 4
                case 'md': return 5
                case 'lg': return 6
                case 'xl': return 10
            }
            return 4
        }
    },
    mounted: function(){
    },
    methods: {
    }
}
</script>

<style lang="css" scoped>
#instruction {
    max-height: 40vh;
    overflow-y: auto
}
</style>
