<template lang="html">
    <div id="remote_audio"></div>
</template>

<script>
export default {
    name: 'rtc_manager',
    data: () => ({
        rtc_connections: {},
    }),
    computed: {
        rtc_enabled: function(){
            return this.$store.state.rtc_enabled;
        }
    },
    watch: {
        rtc_enabled: function(val){
            if(!val){
                //clear rtc_connections
                for( var key in this.rtc_connections ){
                    this.rtc_connections[key].close();
                    delete this.rtc_connections[key];
                }
                //clear audio element
                document.getElementById("remote_audio").querySelectorAll('*').forEach(n => n.remove());
                this.$store.commit('update_rtc_track_count', document.getElementById("remote_audio").childElementCount);
            }
        }
    },
    sockets: {
        remote_call_in_with_offer: async function(payload){
            if(! this.rtc_enabled ){ return ;}
            try {
                const store = this.$store;
                const signal_channel = this.$socket;
                const peer_connection = new RTCPeerConnection();
                peer_connection.onicecandidate = (event) => {
                    if (event.candidate){
                        this.$socket.emit('room_on_icscandidate', {remote_id: payload.remote_id, candidate: event.candidate});
                    }
                }
                peer_connection.ontrack = (event) => {
                    if(event.track){
                        var stream = new MediaStream();
                        stream.addTrack(event.track, stream);
                        var audio_element=document.createElement('audio');
                        audio_element.id=payload.remote_id;
                        document.getElementById('remote_audio').appendChild(audio_element);
                        audio_element.autoplay=true;
                        audio_element.srcObject=stream;
                        store.commit('update_rtc_track_count', document.getElementById('remote_audio').childElementCount);
                    }
                }
                peer_connection.onconnectionstatechange = (event) => {
                    if( ['failed', 'disconnected', 'closed'].includes(event.currentTarget.connectionState)){
                        var audio_element=document.getElementById(payload.remote_id);
                        if(audio_element){
                            audio_element.remove();
                        }
                    }
                    store.commit('update_rtc_track_count', document.getElementById('remote_audio').childElementCount);
                }
                await peer_connection.setRemoteDescription(payload.offer);
                const answer = await peer_connection.createAnswer();
                await peer_connection.setLocalDescription(answer);
                this.rtc_connections[payload.remote_id]=peer_connection;
                signal_channel.emit('room_reply_with_answer', {remote_id: payload.remote_id, answer: answer});
            } catch (e) {
                console.log(e);
            }
        },
        remote_on_icscandidate: async function(payload){
            this.rtc_connections[payload.remote_id].addIceCandidate(payload.candidate);
        }
    },
}
</script>

<style lang="css" scoped>
#remote_audio{ display: none; }
</style>
