<template>
    <v-app>
        <v-main>
            <v-row align="center" justify="center" class="pa-0 ma-0">
                <v-col cols='12' sm='8' md='6' lg='6' xl='6'>
                    <v-container>
                        <v-expansion-panels
                            dark
                            focusable
                            v-model="expanded_panel">
                            <v-expansion-panel :disabled="room_connected">
                                <v-expansion-panel-header
                                    hide-actions
                                    disable-icon-rotate>
                                    <v-chip
                                        dense
                                        :color="(room_connected)?'green':''"
                                        text-color="white">
                                        <strong>ROOM: {{ display_room_id }}</strong>
                                    </v-chip>
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <room_info/>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header
                                    expand-icon='mdi-playlist-play'
                                    disable-icon-rotate>
                                    播放控制 - Player Control
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <player_control/>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                            <v-expansion-panel>
                                <v-expansion-panel-header
                                    expand-icon='mdi-magnify'
                                    disable-icon-rotate
                                    :hide-actions="expanded_panel==2">
                                    歌曲搜索 - Search Box
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <search_box :role="this.$store.state.role"/>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-container>
                </v-col>
            </v-row>
        </v-main>
    </v-app>
</template>

<script>
import player_control from './components/player_control.vue'
import search_box     from './components/search_box.vue'
import room_info      from './components/room_info.vue'

export default {
    name: 'App',
    
    components: {
        player_control,
        search_box,
        room_info,
    },
    data: () => ({
        expanded_panel: 0,
    }),
    computed: {
        display_room_id: function(){
            return (this.room_connected)?this.$store.state.room_id:'Not Connected';
        },
        socket_connected: function(){
            return this.$store.state.connected; 
        },
        room_connected: function(){
            return this.$store.state.room_joined && this.$store.state.connected;
        },
        default_panel: function(){
            return (this.$store.state.room_joined)? 1:0;
        },
        room_rtc_connection_state: function(){
            return this.$store.state.room_rtc_connection_state;
        }
    },
    watch: {
        expanded_panel: function(val){
            if( val == null ) this.expanded_panel = this.default_panel;
        },
        room_connected: function(val){
            this.expanded_panel=(val)?1:0;
        },
        socket_connected: function(val){
            if(val){
                this.join_room_by_link();
            }
        },
    },
    mounted: function(){
        if(this.socket_connected && !this.room_connected){
            this.join_room_by_link();
        }
    },
    methods: {
        join_room_by_link: function(){
            const room_route_regex=/^\/room\/[0-9a-z]{6}/g;
            if(room_route_regex.test(window.location.pathname)){
                var pathname_split=window.location.pathname.split('/');
                this.$socket.emit('remote_init', pathname_split[2]);
            }
        }
    },
    sockets: {
        room_closed: function(){
            window.location.reload(true);
        },
        disconnect: function(){
            window.location.reload(true);
        }
    }
};
</script>
<style lang="css">
</style>
