<template>
  <v-app>
    <v-main>
        <v-navigation-drawer
            v-model="drawer"
            :width="drawer_width"
            app
            right
            floating
            temporary>
            <v-container>
                <v-expansion-panels
                    focusable
                    v-model="expanded_panel">
                    <v-expansion-panel :disabled="expanded_panel==0">
                        <v-expansion-panel-header
                            expand-icon='mdi-qrcode'
                            disable-icon-rotate>
                            Room ID: {{ display_room_id }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <room_info/>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <v-expansion-panel-header
                            expand-icon='mdi-playlist-play'
                            disable-icon-rotate>
                            {{ $t("player_control") }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <player_control/>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                        <v-expansion-panel-header
                            expand-icon='mdi-magnify'
                            disable-icon-rotate
                            :hide-actions="expanded_panel==2">
                            {{ $t("search_box") }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <search_box :role="this.$store.state.role"/>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-container>
            <template v-slot:append>
                <v-container fluid>

                    <v-btn block outlined large class="mt-5"
                        href='https://gitlab.com/CSniper/sing-k'
                        target="_blank">
                        GitLab Repository<v-icon large>mdi-gitlab</v-icon>
                    </v-btn>
                </v-container>
            </template>
        </v-navigation-drawer>
        <youtube
            :video-id="video_id"
            ref="youtube"
            @ended="player_on_ended()"
            @cued="player_on_cued()"
            @error="player_on_ended()"
            width="100%"
            height="100%">
        </youtube>
        <msg_board v-if="this.$store.state.msg_board_enabled"/>
        <rtc_manager/>
        <v-fab-transition>
            <v-btn top right fixed fab large
                color='purple'
                @click="drawer = !drawer"
                transition="slide-x-transition">
                <v-badge
                    :content="rtc_track_count"
                    :value="rtc_track_count"
                    color="blue">
                    <v-icon x-large color='white'>mdi-microphone-settings</v-icon>
                </v-badge>
            </v-btn>
        </v-fab-transition>
    </v-main>
  </v-app>
</template>

<script>
import player_control from './components/player_control.vue'
import search_box     from './components/search_box.vue'
import room_info      from './components/room_info.vue'
import rtc_manager    from './components/rtc_manager.vue'
import msg_board      from './components/msg_board.vue'

export default {
    name: 'App',
    
    components: {
        player_control,
        search_box,
        room_info,
        rtc_manager,
        msg_board,
    },
    data: () => ({
        drawer: false,
        expanded_panel: 0,
        video_id: '',
    }),
    computed: {
        playlist: function(){
            return this.$store.state.playlist;
        },
        jump_in_line: function(){
            return this.$store.state.jump_in_line;
        },
        youtube_player: function(){
            return this.$refs.youtube.player;
        },
        display_room_id: function(){
            return this.$store.state.room_id;
        },
        rtc_track_count: function(){
            return this.$store.state.rtc_track_count;
        },
        socket_connected: function(){
            return this.$store.state.socket_connected;
        },
        playing: function(){
            return this.$store.state.playing;
        },
        room_initialized: function(){
            return (this.$store.state.socket_connected) && (this.$store.state.room_id);
        },
        drawer_width: function(){
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return '50vw'
                case 'sm': return '50vw'
                case 'md': return '40vw'
                case 'lg': return '30vw'
                case 'xl': return '30vw'
            }
            return '50vw'
        },
    },
    watch: {
        expanded_panel: function(val){
            if( val == null ) this.expanded_panel = 0;
        },
        socket_connected: function(val){
            if( val && !this.room_initialized ){
                this.$socket.emit('room_init');
            }else if( val && this.room_initialized && (this.$store.state.socket_id != this.$socket.id) ){
                this.$socket.emit('room_reconnect', {
                    room_id: this.$store.state.room_id,
                    previous_socket_id: this.$store.state.socket_id,
                })
            }
        },
        playing: function(val){
            if(val && this.$store.state.playlist.length>0){
                this.youtube_player.playVideo();
            }else{
                this.youtube_player.pauseVideo();
            }
        },
        playlist: function(val){
            if(val.length>0){
                this.video_id=val[0].id;
            }
            this.$socket.emit('room_update_playlist', val);
        },
        jump_in_line: function(val){
            this.$socket.emit('room_update_jump_in_line', val);
        }
    },
    mounted: function(){
        this.$vuetify.theme.dark=true;
    },
    methods: {
        player_on_ended: function(){
            this.$store.state.playing=false;
            this.$store.commit('skip_current_song');
        },
        player_on_cued: function(){
            if(this.$store.state.playlist.length>0)this.youtube_player.playVideo();
        },
        player_on_playing: function(){
            this.$store.state.playing=true;
        },
        player_on_paused: function(){
            this.$store.state.playing=false;
        },
    },
    sockets: {
        assign_room_id: function(payload){
            this.drawer=this.drawer || (payload != this.$store.state.room_id);
            this.$store.commit('assign_room_id', payload);
            this.$store.commit('update_socket_id', this.$socket.id);
            this.$store.commit('update_room_connection_state', true);
            this.$socket.emit('room_update_playlist', this.$store.state.playlist);
            this.$socket.emit('room_update_jump_in_line', this.$store.state.jump_in_line);
      },
    }
};
</script>
<style lang="css">
html {
    min-width: 960px;
}
</style>
